In [54]:
import gurobipy as grb
import pandas as pd
import numpy as np
import datetime
from datetime import time
from datetime import timedelta
import math

capacity=pd.read_excel("Marshall_Room_Capacity_Chart_3classroom.xlsx")
course_enrollment=pd.read_excel("Marshall_Course_Enrollment_1516_1617.xlsx")
#section_info=pd.read_excel("section information.xlsx")

# Extra data from original dataset

In [55]:
# choose 20153 term as sample
data=course_enrollment.loc[course_enrollment.loc[:,"Term"]==20153,("Course","Section","First Days","First Begin Time","First End Time","First Room")]
data.columns=["Course","Section","FirstDays","FirstBeginTime","FirstEndTime","FirstRoom"]
# we only use those M/T/W/TH/F/MW/TTH
data=data[(data.FirstDays=="M")|(data.FirstDays=="T")|(data.FirstDays=="W")|(data.FirstDays=="TH")|(data.FirstDays=="F")|(data.FirstDays=="MW")|(data.FirstDays=="TTH")]
data=data[(data.FirstRoom!="ONLINE")&(data.FirstRoom!="DEN@Viterbi")]
data=data.loc[:,("Course","Section","FirstDays","FirstBeginTime","FirstEndTime")]

In [56]:
# timelength
timelength=[]
for i in data.index:
    #print data.loc[i,:]
    time1=data.loc[i,"FirstEndTime"]
    time2=data.loc[i,"FirstBeginTime"]
    minutediff=((time1.hour*60+time1.minute)-(time2.hour*60+time2.minute)+10)
    halfhour=minutediff/30
    if minutediff%30>0:
        halfhour+=1
    timelength.append(halfhour)

In [62]:
# pattern
pattern=[]
for i in data.index:
    day=data.loc[i,"FirstDays"]
    if (day=="M") or (day=="T") or (day=="W") or (day=="TH") or (day=="F"):
        #print day
        pattern.append(1)
    elif (day=="MW") or (day=="TTH"):
        #print day
        pattern.append(2)

Use the "section_info=section_info[section_info.timelength<=2]" below to control the size of dataset (change value of 2), i only tried small one

In [64]:
# build section_info table
section_info=pd.DataFrame({"course":data["Course"],"section":data["Section"],"pattern":pattern,"timelength":timelength})
# we only use those timelength less than 4 hours
section_info=section_info[section_info.timelength<=3]
print max(section_info["timelength"])
print len(section_info)
#print section_info.index
# for change the index, do not delete 
section_info.index=range(len(section_info))
#print section_info.index

3
129

In [68]:
section_info=section_info.loc[range(25),:]

In [69]:
section_info

       course  pattern  section  timelength
0    ACCT-430        1    14147           3
1    ACCT-528        1    14201           3
2    ACCT-546        1    14206           3
3    ACCT-546        1    14207           3
4    ACCT-547        2    14209           3
5    ACCT-549        2    14216           3
6    ACCT-557        1    14224           3
7    ACCT-557        1    14223           3
8    ACCT-559        1    14227           3
9    ACCT-559        1    14229           3
10   ACCT-559        1    14228           3
11   ACCT-559        1    14226           3
12  ACCT-561T        2    14236           3
13  ACCT-568T        1    14246           3
14   ACCT-574        2    14260           3
15   ACCT-581        1    14278           3
16   ACCT-585        2    14294           3
17   ACCT-585        2    14293           3
18   ACCT-585        2    14295           3
19   ACCT-611        1    14321           3
20   ACCT-621        1    14301           3
21   BAEP-563        2    14419           3
22   BUAD-301        2    14643           3
23   BUAD-310        1    14925           3
24   BUAD-310        1    14924           3

# Build variables

In [70]:
# What we need to extract from data
# prediction about student registeration for every section
# how many section we need to schedule
# the pattern, time length of each section
# classroom capacity

# Variables
# course name
C={}
index=0
for i in section_info["section"]:
    C[i]=section_info.loc[section_info.loc[:,"section"]==i,"course"].get(index)
    index+=1
# section of course
I=section_info["section"]
# classroom
J=capacity["Room"]
# pattern of session (less than catagories in origional dataset)
P=["Monday","Tuesday","Wednesday","Thursday","Friday"]
P=pd.Series(i for i in P)
# start time of session (from 8:00am to 9:00pm,so the real classtime is between 8:00am to 10:00pm)
T1={}
time = datetime.timedelta(hours=8,minutes=0, seconds=0)
for i in range(27):
    T1[str(time+timedelta(hours=0.5*i))]=i
T=pd.Series(i for i in range(27))

# students' registeration prediction
student={}
for i in I:
    sum1=sum(course_enrollment.loc[course_enrollment.loc[:,"Section"]==i,"Reg Count"])
    len1=len(course_enrollment.loc[course_enrollment.loc[:,"Section"]==i,"Reg Count"])
    student[i]=round(sum1/len1)
#student=pd.Series(i for i in student)

# seat
seat={}
for index,row in capacity.iterrows():
    seat[row["Room"]]=row["Size"]
#seat=pd.Series(i for i in seat)
    
# pattern of each section
PS={}
index=0
for i in I:
    PS[i]=section_info.loc[section_info.loc[:,"section"]==i,"pattern"].get(index)
    index+=1
#PS=pd.Series(i for i in PS)
    
# timelength of each section
TS={}
index=0
for i in I:
    TS[i]=section_info.loc[section_info.loc[:,"section"]==i,"timelength"].get(index)
    index+=1
#TS=pd.Series(i for i in TS)

In [71]:
student

{14147: 104.0,
 14201: 30.0,
 14206: 28.0,
 14207: 34.0,
 14209: 32.0,
 14216: 38.0,
 14223: 26.0,
 14224: 25.0,
 14226: 16.0,
 14227: 16.0,
 14228: 28.0,
 14229: 7.0,
 14236: 22.0,
 14246: 24.0,
 14260: 34.0,
 14278: 32.0,
 14293: 21.0,
 14294: 20.0,
 14295: 29.0,
 14301: 10.0,
 14321: 11.0,
 14419: 38.0,
 14643: 44.0,
 14924: 29.0,
 14925: 22.0}

# Model and Object

In [72]:
# Building model
mod=grb.Model()

# Decision Variable
X={}
for i in I:
    for j in J:
        for p in P:
             for t in T:
                    X[i,j,p,t]=mod.addVar(vtype=grb.GRB.BINARY, name='x[{0},{1},{2},{3}]'.format(i,j,p,t))

# Objective
# As i set the constraint1 below, so the section with 2 or 3 sessions will have higher weight here
# but if i do not set constraint1, we cannot promise other sections will not take the vacancy
# for example, if DSO570 assigned to M/W 12:00, namely X[DSO570,j,"MW",12:00]=1, but X[i,j,"M",12:00]=0 and X[i,j,"W",12:00]=0, 
# so other courses maight be assign to this time too
mod.setObjective(sum(X[i,j,p,t]*student[i]/seat[j] for i in I for j in J for p in P for t in T),sense=grb.GRB.MAXIMIZE)

# Constraints

In [73]:
# constraints
I_twoday=pd.Series()
I_oneday=pd.Series()
for i in I:
    if PS.get(i)==1:
        I_oneday=I_oneday.append(pd.Series(i))
    else:
        I_twoday=I_twoday.append(pd.Series(i))

In [74]:
# constraint2
# for X[A course,j,t,p]=1 and if it is 1.5 hours, so for all i expect A course their X[i,j,t,p] should all be 0
# So we have 
# (1) X[A course,j,p,t]+X[i,j,p,t]<=1
# (2) X[A course,j,p,t]+X[i,j,p,t+1]<=1
# (3) X[A course,j,p,t]+X[i,j,p,t+2]<=1
# if it is 3 hours class so we have 6 constraints
# in same time in same classroom in same day there is only one class, no conflicts
# this constraint2 is only for those sections whose pattern is 1, which means they only have one session every week.
constraint2={}
num=0
for i1 in I:
    for j in J:
        for t in T:
            for p in P:
                for i2 in I.drop(pd.Index(I).get_loc(i1)):
                    constraint2[i1,j,p,t,i2,num]=mod.addConstr(X[i1,j,p,t]+X[i2,j,p,t]<=1)

In [75]:
# in the next (number of required sessions)*2 timeslot all of X should be 0
for i1 in I:
    for j in J:
        for t in T:
            for p in P:
                for i2 in I:
                    timeslots=int(TS[i1])
                    if t<=(27-timeslots): # avoid a situation that three hours course is assigned to 8:00 pm
                        for num in range(1,timeslots):
                            constraint2[i1,i2,t,num]=mod.addConstr(X[i1,j,p,t]+X[i2,j,p,t+num]<=1,name="")

In [76]:
# this constraint3 is only for those sections whose pattern is 2, which means they have two session every week.
constraint3={}
for i in I_twoday:
    for j in J:
        for t in T:
            constraint3[i,j,"M",t]=mod.addConstr(X[i,j,"Wednesday",t]== X[i,j,"Monday",t],name="") 
            # the section with two sessions must have same 0/1 in M and W
            
            constraint3[i,j,"T",t]=mod.addConstr(X[i,j,"Thursday",t] == X[i,j,"Tuesday",t],name="") 
            # the section with two sessions must have same 0/1 in M and W

In [77]:
# this constraint4 is to control that when we maximum the utilization rate,the number of student registered 
#for one section should less than the classroom capacity
constraint4={}
for i in I:
    for j in J:
        for p in P:
             for t in T:
                    constraint4[i,j,p,t]=mod.addConstr(X[i,j,p,t]*student[i]<=seat[j],name="")

In [78]:
# this constraint5 is to make sure that in all time in all classroom in all day, 
#for each section, sum(X)=required sessions
constraint5={}
for i in I:
    constraint5[i]=mod.addConstr(sum(X[i,j,p,t] for j in J for p in P for t in T)==PS.get(i),name="")

In [79]:
#constraint6: No Friday class for MW and TH section
constraint6={}
for i in I_twoday:
    constraint6[i] = mod.addConstr(sum(X[i,j,"Friday",t] for j in J for t in T) == 0)

In [80]:
#no class can last longer than the '9PM-9.30PM' block
constraint7={}
for i in I:
    constraint7[i] = mod.addConstr(sum(X[i,j,p,T.max()-ts] for j in J for p in P for ts in range(int(TS[i]))) == 0)

# Best solution output

In [81]:
mod.optimize()
mod.setParam('OutputFlag',False)

print('Optimal solution:',mod.ObjVal)

Optimize a model with 964503 rows, 13500 columns and 1931360 nonzeros
Variable types: 0 continuous, 13500 integer (13500 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+02]
  Objective range  [3e-02, 3e+00]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 3e+02]
Found heuristic solution: objective 12.3736881
Presolve removed 960112 rows and 5062 columns (presolve time = 5s) ...
Presolve removed 962367 rows and 7121 columns (presolve time = 11s) ...
Presolve removed 962367 rows and 7121 columns
Presolve time: 11.41s
Presolved: 2136 rows, 6379 columns, 103207 nonzeros
Found heuristic solution: objective 20.6584822
Variable types: 0 continuous, 6379 integer (6379 binary)

Root simplex log...

Iteration    Objective       Primal Inf.    Dual Inf.      Time
       0    5.6740234e+02   1.491800e+04   0.000000e+00     12s
    1101    2.2258763e+01   0.000000e+00   0.000000e+00     12s

Root relaxation: objective 2.225876e+01, 1101 iterations, 0.09 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0      22.2587632   22.25876  0.00%     -   12s

Explored 0 nodes (1101 simplex iterations) in 12.20 seconds
Thread count was 4 (of 4 available processors)

Solution count 3: 22.2588 20.6585 14.5705

Optimal solution found (tolerance 1.00e-04)
Best objective 2.225876321909e+01, best bound 2.225876321909e+01, gap 0.0000%
('Optimal solution:', 22.25876321909321)

In [82]:
# print to check result
#for i in I:
 #   for j in J:
  #      for p in P:
   #         for t in T:
    #            if X[i,j,p,t].x>0:
     #               print("i ",i," j ",j," p ",p," t ",t," X[i,j,p,t] ",X[i,j,p,t].x," student[i] ",student[i]," seat[j] ",seat[j]," X[i,j,p,t]*student[i]/seat[j] ",X[i,j,p,t].x*student[i]/seat[j])

In [83]:
# get the small subset of J that have classes in this classroom
J1=[]
for j in J:
    if sum(X[i,j,p,t].x for i in I for p in P for t in T)>0:
        J1.append(j)
print J1

[u'ACC236', u'HOH1', u'HOH EDI']

In [84]:
# return a blank table
def blanktable():
    T1=[]
    blank=[]
    time = datetime.timedelta(hours=8,minutes=0, seconds=0)
    for i in range(27):
        T1.append(str(time+timedelta(hours=0.5*i)))
        blank.append("")
    schedule=pd.DataFrame({"# timeslot": range(27),
                           "timeslot":T1,
                           "Monday":blank,
                           "Tuesday":blank,
                           "Wednesday":blank,
                           "Thursday":blank,
                           "Friday":blank})
    sched_cols = ['# timeslot','timeslot','Monday','Tuesday','Wednesday','Thursday','Friday']
    schedule = schedule[sched_cols]
    schedule=schedule.set_index('# timeslot')
    return schedule

In [85]:
# put the optimal solution into our beautiful schedule table
timetable={}
for j in J1:
    #print "J is "+j
    #print "schedule"+j
    schedule1=blanktable()
    for i in I:
        for p in P:
            for t in T:
                if X[i,j,p,t].x>0:
                    for a in range(int(TS[i])):
                        schedule1.loc[t+a,p]=C[i]+" / "+str(i)
                        #print schedule1
    timetable["schedule"+j]=schedule1
    #print "timetable "+"schedule"+j
    #print timetable["schedule"+j]

In [86]:
output=pd.ExcelWriter("schedule_25_sections.xlsx")
for j in J:
    if sum(X[i,j,p,t].x for i in I for p in P for t in T)>0:
        timetable["schedule"+j].to_excel(output,sheet_name=j,index=False)
output.save()